.header-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.navbar-end {
  display: flex;
  align-items: center;
  gap: 1rem;
}